<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <div class="imgHome">
      <div class="textHome">
        Una experiencia interactiva para descubrir rutas temáticas en Santiago de Cali.
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="imgHome2">
      <div class="textHome2">
        Accede al instante a información geográfica y cultural que le permite a locales y turistas vivir Cali
        y sus alrededores desde una prespectiva intuitiva y con soluciones rápidas segun su interés.
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="imgHome3">
      <div class="textHome3">
        <h5>Locación en tiempo real</h5>
        <p>
          Descubra trayectos sin tener destino y escoja el medio de movilidad.
        </p>
        <p>
          Puede escribir cualquier interés en el buscador, o ver opciones recomendadas en el Menú.
        </p>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="imgHome4">
      <img class="imgLogox" src="../../assets/logox.png" />
      <div class="textHome4">
        Siempre vea su locación en tiempo real por sus rutas temáticas planificadas...
      </div>
      <img class="imgMaps" src="../../assets/maps.png" />
      <div class="btnHome">
        <ion-button class="btnHome" href="/mapbox">Get Started</ion-button>
      </div>
    </div>
  </ion-slide>
</ion-slides>